.upcoming-movies-header {
    background-color: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.movie-poster {
    height: 100%;
    width: auto;
}

ul.custom-grid {
    width: 100%;
    flex-wrap: nowrap;
}

ul.movie-home-grid li {
    margin: 16px;
}

.home-details {
    display: flex;
}

.home-details>div {
    flex-wrap: nowrap;
}

.movie-display {
    width: 76%;
    margin: 16px;
}

.movie-image {
    cursor: pointer;
}

.movie-filter {
    width: 24%;
    margin: 16px;
}

.movie-filter>div {
    margin: 10px 20px;
}

.movie-filter .filter-forms {
    width: 100%;
}