.navbar {
    overflow: hidden;
    background-color: #222;
    height: 36px;
    padding: 8px 32px 8px 16px;
}

.logo {
    background-color: #ff7f7f;
    height: 35px;
}

.logo-animation {
    animation: logo-rotation 8s infinite linear;
}

@keyframes logo-rotation {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

.login-logout-button {
    float: right;
}

.tabs {
    margin-bottom: 20px;
}

.bookshowBtn {
    float: right;
    margin-right: 8px;
}